[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "strm"]
	path = strm
	url = https://github.com/mkamenet3/strm
	shallow = true
	registered = true
